.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.404);
}

.content {
  width: 90%;
  max-width: 1280px;
  height: 90%;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
}

.content::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 0;
  background-color: #d0d4ce;
}

.content::-webkit-scrollbar {
  width: 6px;
  background-color: #d0d4ce;
  border-radius: 20px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #797979;
  padding-left: -10px;
  border-radius: 20px;
}

.controlModal {
  display: flex;
  justify-content: flex-end;
  height: 42px;
  padding: 20px 20px 10px;
}

.controlModal img {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcons {
  display: flex;
  gap: 10px;
  height: 35px;
}

.mainContent {
  margin: 10px 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.placeImg {
  border-radius: 18px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.placeTitle {
  font-size: 2em;
}

.placeDesc {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 50px;
}

.zone {
  color: #4b4b4b;
  margin-bottom: 10px;
}

.map {
  border-radius: 18px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 500px;
  margin-bottom: 60px;
  margin-top: 20px;
  border: none;
}

@media (max-width: 1200px) {
  .mainContent {
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .placeImg {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .placeTitle {
    font-size: 1.6em;
  }

  .placeDesc {
    font-size: 1em;
    margin-top: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 400px) {
  .placeTitle {
    font-size: 1.4em;
  }

  .placeDesc {
    font-size: 0.8em;
    margin-top: 10px;
  }

  .controlModal {
    height: 32px;
    padding: 10px 10px 5px;
  }
  .map {
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
