@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.logo {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.6em;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 22px;
  font-size: 1.2em;
}

.navLinks {
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.navLinks:hover {
  color: rgba(0, 0, 0, 0.555);
}

.mobileMenu {
  display: none;
}

@media (max-width: 767px) {
  .navList {
    display: none;
  }
  .mobileMenu {
    display: block;
    cursor: pointer;
  }
}
